body {
	position:relative;
	margin:0 0;
	padding:0 0;
	overflow: hidden;
}
#stars {
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	z-index: 1;
}
#horizon {
	width:100%;
	height:50%;
	position:absolute;
	top:50%;
	left:0;
	z-index: 100;
}
#ground {
	width:100%;
	height:50%;
	position:absolute;
	top:50%;
	left:0;
	z-index: 10;
}

h1 {
	left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;

    z-index:1000;
	color:#fffff6;
	text-align:center;
	font-family: 'Roboto', sans-serif;
	font-size: 50vw;
	text-shadow: 0 0 100px #000022;

	.D {
		-webkit-transform:rotateY(180deg);
		-moz-transform:rotateY(180deg);
		-o-transform:rotateY(180deg);
		-ms-transform:rotateY(180deg);
		display:inline-block;
	}
	.aD {
		display:inline-block;
	}
}